body{
    padding:50px;
    background-color: rgb(231, 247, 13);
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(24, 24, 23, 0.932) 0px 7px 29px 0px;
    
}
.form-group{
    margin-bottom:30px;
}
input{
    height: 15%;
    width: 60%;
    margin:5%;
}